<div class="shop-container">
  <div class="popup" *ngIf="showPopup">
    Product added to devis! <button (click)="finalizeDevis()">Finalize Devis</button>
  </div>

  <!-- Tabs -->
  <div class="tabs" style="margin-top: 5rem;">
    <button
      class="tab-button"
      *ngFor="let fouta of uniqueFoutas"
      [class.active]="selectedFouta?.name === fouta.name"
      (click)="selectFouta(fouta)"
    >
      {{ fouta.name }}
    </button>
  </div>

  <!-- Product Details Section with Skeleton Loader -->
  <div class="product-page" *ngIf="!isLoading; else loadingTemplate">
    <div class="c" *ngIf="selectedFouta">
      <div class="image-gallery">
        <div
          class="thumbnail"
          *ngFor="let image of selectedFoutaImages; let i = index"
          (click)="selectImage(i)"
          [class.selected]="i === selectedIndex"
        >
          <img [src]="image" alt="Thumbnail"  loading="lazy"  />
        </div>
      </div>

      <div class="main-image">
        <img [src]="selectedFoutaImages[selectedIndex]" alt="Main product image"  loading="lazy"  />
      </div>
    </div>

    <div class="product-details">
      <h1 class="product-title">{{ selectedFouta?.title }}</h1>

      <button class="add-to-cart" (click)="addToDevis()">Ajouter au devis</button>
      <div class="accordion">
        <div class="accordion-item">
          <button (click)="toggleDescription()">DESCRIZIONE</button>
          <div *ngIf="showDescription">{{ selectedFouta?.description }}</div>
        </div>
        <div class="accordion-item">
          <button (click)="toggleMaterials()">MATERIALI</button>
          <div *ngIf="showMaterials">Materials content...</div>
        </div>
        <div class="accordion-item">
          <button (click)="toggleShipping()">SPEDIZIONE</button>
          <div *ngIf="showShipping">Shipping content...</div>
        </div>
      </div>
    </div>

  </div>
  <img  src="../../assets/icon-accmod.png" style="margin-top: 3rem;"  loading="lazy" >

  <!-- Loading Skeleton Template -->
  <ng-template #loadingTemplate>
    <div class="product-page">
      <div class="c">
        <div style="display: flex; flex-direction: column; ">
          <div class="skeleton skeleton-img "   ></div>
          <div class="skeleton skeleton-img"   ></div>
          <div class="skeleton skeleton-img"  ></div>
        </div>
        <div class="skeleton skeleton-image"></div>

      </div>

      <div class="product-details">
        <div class="skeleton skeleton-title" style="margin-bottom: 1rem;"></div>
        <div class="skeleton skeleton-button" style="margin-bottom: 1rem;"></div>
        <div class="accordion">
          <div class="accordion-item skeleton-accordion-item" style="margin-bottom: 1rem;">
            <div class="skeleton skeleton-accordion-content"></div>
          </div>
          <div class="accordion-item skeleton-accordion-item">
            <div class="skeleton skeleton-accordion-content"></div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>

<!-- Similar Categories Section with Skeleton Loader -->
<div class="similar-products">
  <h2>Similar Subcategories</h2>

  <!-- Skeleton loader while fetching similar categories -->
  <div class="product-grid" *ngIf="isLoadingSimilarCategories; else categoryContent">
    <div class="skeleton-card" *ngFor="let _ of [1, 2, 3, 4, 5]">
      <div class="skeleton-image"></div>
      <div class="skeleton-text"></div>
      <div class="skeleton-description"></div>
    </div>
  </div>


  <!-- Actual content once loaded -->
  <ng-template #categoryContent>
    <div class="product-grid">
      <div class="product-card"
        *ngFor="let category of similarCategories"
        (click)="viewCategory(category)">
        <img class="product-image" [src]="category.image" alt="{{ category.name }}"  loading="lazy"  />
        <h3 class="product-name">{{ category.name }}</h3>
        <p class="product-description">{{ category.description }}</p>
      </div>
    </div>
  </ng-template>
</div>
