.container {
  max-width: 95%;
  margin: auto;
  padding: 0;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 335px;
  text-align: center; /* This covers the styling for both small screens and regular viewports */
}

.product-item-content,
.product-overlay {
  text-align: center;
}

.product-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.p-carousel {
  margin: 0;
  padding: 0;
}

.p-carousel .p-carousel-content {
  max-height: 250px;
  padding: 10px;
}

.product-title {
  font-size: 16px;
  font-weight: bold;
  color: #f0eded;
  margin-top: 10px;
  transition: padding 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.product-title::after {
  content: '';
  display: block;
  width: 80%;
  height: 1px;
  background-color: #fff;
  margin: 5px auto 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
}

.col-md-3 {
  box-sizing: border-box;
  padding: 8px;
  flex: 1 0 50%;
}

.product-card {
  position: relative;
  border-radius: 2px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  height: 120px;
  max-height: 150px;
}

.product-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  background: rgba(65, 65, 65, 0.16);
}

.see-collection-btn {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 8px 15px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.product-card:hover .product-overlay,
.product-item:hover .product-overlay {
  transform: translateY(-1px);
  opacity: 1;
}

.product-card:hover .product-title,
.product-item:hover .product-title {
  padding: 5px;
}

.product-card:hover .see-collection-btn,
.product-item:hover .see-collection-btn {
  opacity: 1;
}

@media (min-width: 576px) {
  .col-md-3 {
    flex: 0 0 33.33%;
  }
}

@media (min-width: 1077px) {
  .col-md-3 {
    flex: 0 0 33.33%;
  }
  .product-card {
    height: 160px;
  }
}

@media (min-width: 1200px) {
  .col-md-3 {
    flex: 0 0 25%;
  }
  .product-card {
    height: 200px;
  }

}

@media (max-width: 640px) {
  .product-item {
    height: 300px;
  }

  .product-image {
    max-width: 100%;
    height: auto;
    width:400px;
  }

  .productName {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
  }

  .btnn {
    margin: 10px auto;
    width: auto;
  }

  .p-carousel .p-carousel-content {
    max-height: 100%; /* Ensure full visibility of content */
    padding: 5px;
  }

  .p-carousel .product-item {
    height: 250px; /* Adjust height for small screens */
  }

  .p-carousel .btnn {
    font-size: 12px;
    padding: 5px 10px;
  }
}

.title-section {
  text-align: center;
}

.title-section h2 {
  font-size: 20px;
  color: #b99c6d;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.p-carousel-indicators,
.p-carousel-prev,
.p-carousel-next {
  display: none;
}
@media (max-width: 540px) {
  .product-image {
    max-width: 100%;
   height: 200px;
  }

}
