<div class="footer">
    <div class="footer-section">
      <h3 class="footer-heading"><img src="../../../../assets/logoFR.png" (click)="navigateHome()"></h3>
    </div>

    <div class="footer-section">
      <h3 class="footer-heading" (click)="toggleDropdown('collections')">Nos Créations</h3>
      <ul [ngClass]="{'show': isDropdownOpen === 'collections'}">
        <li *ngFor="let category of categories" (click)="navigateToCategory(category.name)">
          {{ category.name }}
        </li>
      </ul>
    </div>
  <div class="footer-section">
    <h3 class="footer-heading" (click)="toggleDropdown('help')">Contactez Nous</h3>
    <ul [ngClass]="{'show': isDropdownOpen === 'help'}">
      <li class="pi  pi-envelope"  (click)="openEmail()"> fouta.raies@gmail.com</li><br>
      <li class="pi pi-phone" (click)="callPhone()" >  +216 99 521 058 </li><br>
      <li class="pi pi-map-marker"  (click)="openMap()" >  Rue Ostia Lamta-Monastir-Tunisie</li>
    </ul>
  </div>
  <div class="footer-section">
    <h3 class="footer-heading" (click)="toggleDropdown('social')">Suivez-Nous</h3>
    <div class="social-icons" [ngClass]="{'show': isDropdownOpen === 'social'}">
      <a  class="pi pi-facebook" style="margin-right: 1.5rem ;"></a>
      <a class="pi pi-instagram" href="#"></a>
    </div>
  </div>
</div>
