<div class="shop-container">

  <h1 class="shop-title" style="margin-top: 4rem;">{{ categoryDetails?.name }}</h1>
  <p class="shop-description">{{ categoryDetails?.description }}</p>
  <img  src="../../assets/icon-accmod.png"  loading="lazy" style="margin-bottom: 2rem;" >

  <div class="product-grid">
    <!-- Skeleton loader for subcategories when loading -->
    <ng-container *ngIf="isLoading && subcategories.length === 0">
      <div class="product-card skeleton-card" *ngFor="let i of [].constructor(5)">
        <div class="skeleton-image"></div>
        <div class="skeleton-text"></div>
        <div class="skeleton-text" style="width: 40%;"></div>
      </div>
    </ng-container>

    <!-- Real subcategories once loading is done -->
    <ng-container *ngIf="!isLoading || subcategories.length > 0">
      <div
        class="product-card"
        *ngFor="let subcategory of subcategories; trackBy: trackBySubcategory"
        (click)="onSubcategoryClick(subcategory.name)"
      >
        <img class="product-image" [src]="subcategory.image" loading="lazy" alt="{{ subcategory.name }}" />
        <h3 class="product-name">{{ subcategory.name }}</h3>
        <!-- <p class="product-description">{{ subcategory.description }}</p> -->
      </div>
    </ng-container>
  </div>

</div>
