<p class="text-blk heading" style="text-align: center; margin-top: 5rem;" >
<img  src="../../assets/icon-accmod.png"  loading="lazy"  >
<br>
  Fréres Raies: Plus qu'une famille

</p>
<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container">
    <div class="responsive-container-block leftSide">


      <p class="text-blk subHeading">
        Notre entreprise, fondée par deux frères Hamdi et Fethi RAIES, il y a 28 ans, incarne une tradition familiale profondément enracinée. Depuis ses débuts modestes, notre ambition a toujours été de dépasser les frontières. Que ce soit en Afrique, en Amérique ou en Europe, nous avons su tisser des liens solides et durables en faisant découvrir l’artisanat d'exception qui définit notre histoire. Chaque pièce que nous créons porte en elle l’héritage de nos ancêtres, mêlant authenticité, qualité et un respect profond pour les techniques traditionnelles. À travers cette aventure humaine et artisanale, nous continuons à repousser les limites, tout en restant fidèles à nos racines et à notre passion pour l’excellence.
      </p>
    </div>
    <div class="responsive-container-block rightSide">
      <!-- <img class="number1img" src="../../assets/3I3A2661.JPG" alt="Team Member 1"> -->

      <img class="number2img" src="../../assets/3I3A2666.JPG" alt="Team Member 2">
      <img class="number3img" src="../../assets/3I3A2677.JPG"  alt="Team Member 3">

      <!-- <img class="number5img" src="../../assets/3I3A2732.JPG" alt="Customer Support"> -->
      <img class="number7img" src="../../assets/3I3A2772.JPG" alt="Team Member 4">
      <img class="number6img" src="../../assets/3I3A2661.JPG" alt="Team Member 5">
    </div>
  </div>
</div>
